<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="cron_scheduler" frontName="scheduler">
            <module name="Mygento_CronScheduler"/>
        </route>
    </router>
</config>
