<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mygento" translate="label" sortOrder="999999" class="mygento-tab">
            <label>Mygento Extensions</label>
        </tab>
        <section id="cron_scheduler" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cron Scheduler</label>
            <tab>mygento</tab>
            <resource>Mygento_CronScheduler::configuration</resource>
            <group id="general" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="is_drop_running_jobs" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Drop Running Jobs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Drop running jobs if running jobs timeout exceeded.</comment>
                </field>
                <field id="running_jobs_timeout" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Running jobs timeout</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Minutes from scheduled at.</comment>
                </field>
            </group>
        </section>
    </system>
</config>